* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: sans-serif;
    word-wrap: break-word;  /*Indica que as linhas só podem quebrar em pontos de quebra normais de palavras.*/
    overflow-wrap: break-word;
}

body{
    overflow-x: hidden;   /*Para esconder Algo trasbordado nos Lados*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: #7364be
}

.Global {  /*Página Toda*/
    width: 100%;
    margin: 0 auto;

}

main {
    display: block; /*A declaração display: block faz com que o elemento HTML seja renderizado como bloco,
                     tal como os parágrafos e os cabeçalhos o são.*/
    
}

.Conteudo {       /*Todas as Classes de Conteúdo*/
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20px;
}

section.modulo p {
    margin-bottom: 40px;
    color: #FFF;
}

section.modulo:last-child {    /* seleciona um ou mais elementos com base em sua posição entre um grupo de 
                                elementos-irmãos, contando a partir do último.*/

    margin-bottom: 0;
}


section.modulo.conteudo {
    padding: 40px 0;
    background-color: #00082f
}

section.modulo.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100% !important;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgroun-size: cover;
}

section.modulo.parallax::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    ;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);

}
/*Images do Parallax*/
section.modulo.parallax-1 {
    background-image: url(../img/HeaderIMGParallax.jpg);
}

section.modulo.parallax-2 {
    background-image: url(../img/mainIMGParallax.jpg);
}

section.modulo.parallax-3 {
    background-image: url(../img/FooterIMGParallax.jpg);
}
/*Images do Parallax=FIM*/
section.modulo.parallax h1 {
    color: #FFF;
    text-align: center;
    z-index: 50;
    font-size: 60px;
    text-transform: uppercase;
}
.card-1{
color: #FFF;
display: inline-block;
justify-content: center;
margin: 0 auto;
text-align: center;
}
.card-2{
    color: #FFF;
    display: inline-block;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.card-3{
    color: #FFF;
    display: inline-block;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.rodape{
    margin-top: 90px;
    text-align: center;
}
